.card {
    margin: 1rem;

    &-body {
        background-color: #f7f7f9;
    }
}

.title {
    margin: 2rem 0;
    border-bottom: 1px solid #e1dfdf;
    padding-bottom: 0.75rem;

}

app-button {
    padding: 1rem;
}